<main>
    <app-navbar />
    <section>
        <div class="p-4 container mx-auto">
            <div class="p-1">
                <div class=" p-4">
                    <h1 class="mt-5 font-bold text-3xl lg:text-5xl">Discover All NgUI Blocks</h1>
                    <p class="mt-5">All you need to have for better and modern UIs</p>
                    <div class="mt-5">
                        <span class="text-gray-800 border rounded-full p-1 px-2">All Block</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
