<main>
    <app-navbar />
    <section class="p-4 z-20 relative">
        <div class="h-52 -left-12 z-10 rounded-full w-96 bg-blue-600 absolute blur-2xl opacity-10 mt-14"></div>
        <div class="flex relative z-50 flex-col text-3xl lg:text-5xl font-bold text-blue-950 lg:items-center justify-end mt-10 lg:mt-0 lg:h-[40vh]">
            <h1 class="dark:text-white duration-300"><span class="hidden lg:inline-block">A Set of </span> <span class="text-transparent lg:ml-2 bg-gradient-to-r from-pink-600 to-red-600 bg-clip-text">UIs Building Blocks</span></h1>
            <h1 class="dark:text-white mt-2 duration-300">For <span class="text-transparent bg-gradient-to-r from-pink-600 to-red-600 bg-clip-text">Angular</span> Styled With Tailwindcss</h1>
        </div>
        <div class="mt-3 lg:text-center font-light text-gray-700">
            <p>For fast development and better UIs, get easy to customize ngUI code snippets for your components</p>
        </div>
        <div class="mt-5 flex lg:justify-center">
            <a routerLink="/blocks" class="bg-gradient-to-r from-pink-600 to-blue-600 p-2 text-white rounded-full px-3 font-semibold inline-block">All blocks</a>
            <a routerLink="/templates" class="bg-gradient-to-r ml-5 from-pink-600 to-blue-600 p-2 text-transparent bg-clip-text underline rounded-full px-3 font-semibold inline-block">Templates</a>
        </div>
    </section>
    <section class="relative z-20 flex justify-center items-end mt-10 border-b dark:border-white/30">
        <div class="lg:relative z-50 rounded-2xl flex flex-col justify-around  h-[65vh] w-[25vw]">
            <div class="border bg-white h-[25vh] w-full rounded-3xl "></div>
            <div class="border bg-white h-[35vh] w-full rounded-3xl"></div>
        </div>
        <div class="lg:relative z-50 border-l border-t border-r border-dashed rounded-t-3xl bg-white ml-8 h-[55vh] w-[35vw]">

        </div>
        <div class="lg:relative z-50 border rounded-3xl mb-2 bg-gray-800  ml-8 h-[70vh] w-[25vw]">
            <div class="flex items-center">
                <div class="flex items-center h-[5vh]">
                    <span class="bg-blue-400 ml-4 rounded-full h-3 w-3 block"></span>
                    <span class="bg-red-400 ml-1 rounded-full h-3 w-3 block"></span>
                    <span class="bg-green-400 ml-1 rounded-full h-3 w-3 block"></span>
                </div>
                <div class="ml-2">
                    <p class="text-xs text-white">card.component.ts</p>
                </div>
            </div>
            <div class="border-t border-b h-[60vh] bg-gray-900 w-full overflow-scroll">
                <app-home-code />
            </div>
        </div>
        <div class="bg-blue-600 top-4 opacity-40 rounded-full h-96 w-96 absolute z-10 blur-3xl"></div>
    </section>
    <section class="flex justify-center mt-4 relative z-50">
        <div class="flex mt-5">
            <span class="border dark:border-white/30 rounded-full px-2 bg-gray-100x bg-white dark:bg-gray-900 text-xs flex items-center justify-center">
                <span><img src="../../../../favicon.ico" width="16" alt=""></span>
                <span class="ml-1 text-gray-700 dark:text-white">Angular</span>
            </span>
            <span class="border dark:border-white/30 ml-2 rounded-full px-2 bg-white text-xs dark:bg-gray-900 flex items-center justify-center">
                <span class="text-2xl text-blue-500 relative top-0.5"><i class='bx bxl-tailwind-css' ></i></span>
                <span class="ml-1 text-gray-700 dark:text-white">Tailwindcss</span>
            </span>
        </div>
    </section>
    <section class="flex justify-center mt-8 p-3">
        <div class="mt-10 text-lg lg:w-[85vw]">
            <ul class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
               <li class="border dark:border-white/30 p-4 rounded-2xl ">
                   <span class="bg-gray-100 dark:bg-gray-900 dark:border-white/30 h-10 w-10 flex justify-center items-center rounded-full border p-2"><img src="../../../../favicon.ico" alt=""></span>
                   <div>
                       <span class="mt-2 font-semibold block dark:text-white">Support for Angular17+</span>
                       <p class="mt-2 text-sm text-gray-800 dark:text-white">
                           With angular 17 and the new features, support for standalones components , new control flow and more.
                       </p>
                   </div>
               </li>
               <li class="border dark:border-white/30 p-4 rounded-2xl ">
                   <span class="bg-gray-100 dark:bg-gray-900 dark:border-white/30 h-10 w-10 flex justify-center items-center rounded-full border p-2 "><i class='bx bx-exit-fullscreen text-transparent bg-gradient-to-r from-pink-600 to-blue-600 bg-clip-text text-2xl'></i></span>
                   <div>
                       <span class="mt-2 font-semibold block dark:text-white">Fully Responsive</span>
                       <p class="mt-2 text-sm text-gray-800 dark:text-white">
                           All blocks of Uis components are fully responsive, it mean your web site or web app looks great on any devices
                       </p>
                   </div>
               </li>
               
               <li class="border dark:border-white/30 p-4 rounded-2xl ">
                   <span class="bg-gray-100 dark:bg-gray-900 dark:border-white/30 h-10 w-10 flex justify-center items-center rounded-full border p-2 "><i class='bx bxs-hot text-transparent bg-gradient-to-r from-pink-600 to-blue-600 bg-clip-text text-2xl' ></i></span>
                   <div>
                       <span class="mt-2 font-semibold block dark:text-white">Accessible</span>
                       <p class="mt-2 text-sm text-gray-800 dark:text-white">
                           our components are designed with accessibility  in mind that ensuring usability for everyone.
                       </p>
                   </div>
               </li>
               <li class="border dark:border-white/30 p-4 rounded-2xl ">
                   <span class="bg-gray-100 dark:bg-gray-900 dark:border-white/30 h-10 w-10 flex justify-center items-center rounded-full border p-2"><i class='bx bx-selection text-transparent bg-gradient-to-r from-pink-600 to-blue-600 bg-clip-text text-2xl'></i></span>
                   <div>
                       <span class="mt-2 font-semibold block dark:text-white">Customizable</span>
                       <p class="mt-2 text-sm text-gray-800 dark:text-white">
                           our Components are highly customizable, allowing you to tailor the look and feel of your website to your specific needs
                       </p>
                   </div>
               </li>
               <li class="border dark:border-white/30 p-4 rounded-2xl ">
                   <span class="bg-gray-100 dark:bg-gray-900 dark:border-white/30 h-10 w-10 flex justify-center items-center rounded-full border p-2 "><i class='bx bxs-pen text-transparent bg-gradient-to-r from-pink-600 to-blue-600 bg-clip-text text-2xl'></i></span>
                   <div>
                       <span class="mt-2 font-semibold block dark:text-white">Modern Design</span>
                       <p class="mt-2 text-sm text-gray-800 dark:text-white">
                           Designed to save your time when designing websites and web apps allowing you to focus on what matters most.
                       </p>
                   </div>
               </li>
               <li class="border dark:border-white/30 p-4 rounded-2xl ">
                   <span class="bg-gray-100  dark:bg-gray-900 dark:border-white/30 h-10 w-10 flex justify-center items-center rounded-full border p-2"><i class='bx bx-moon text-transparent bg-gradient-to-r from-pink-600 to-blue-600 bg-clip-text text-2xl' ></i></span>
                   <div>
                       <span class="mt-2 font-semibold block dark:text-white">Dark mode support</span>
                       <p class="mt-2 text-sm text-gray-800 dark:text-white">
                           We've included support for dark mode, allowing your users to switch between light and dark themes with ease.
                       </p>
                   </div>
               </li>
               
            </ul>
       </div>
    </section>
    <section  class="mt-9">
        <div>
            <span  class="flex flex-col items-center justify-center">
                <h2 class="text-2xl lg:text-4xl font-semibold dark:text-white">Modern UIs Block</h2>
                <p class="mt-3 text-gray-600 dark:text-gray-300">All you need to have for better and modern UIs</p>
            </span>
            <section class="flex flex-col items-center justify-center mt-5 lg:mt-16">
                <div class="relative grid gap-4 lg:gap-6 lg:grid-cols-3">
                    <div class="absolute z-40 bottom-0 bg-gradient-to-t from-white dark:from-gray-950 h-44 w-full"></div>
                    @for (item of blockElement; track item.id) {
                        <a routerLink="{{item.route}}" class="group block w-80">
                            <div class="block h-60 bg-gray-300 dark:bg-gray-900 dark:group-hover:bg-gray-800 group-hover:bg-gray-200 group-hover:ring-1 dark:group-hover:ring-gray-900 group-hover:ring-offset-4 duration-300 rounded-2xl"></div>
                            <span>
                                <p class="dark:text-white mt-3 group-hover:text-blue-600 duration-300"> {{item.name}} </p>
                            </span>
                        </a>
                    }
                </div>
                <a routerLink="/blocks" class="bg-blue-600 hover:bg-blue-500 duration-300 text-white rounded-full p-1 relative z-50 -mt-4 px-3">Browse All blocks</a>
            </section>
        </div>
    </section>
    <section class="h-[20vh]"></section>
    <app-footer />
</main>
