<main class="">
    <section class="block p-4 w-full">
        
        <div class="flex p-4 justify-between items-center">
            <p class="text-2xl font-semibold">Hero sec 1</p>
            <div class="flex items-center">
                <button class="border rounded-full shadow-sm p-1 px-2 h-10 w-10 flex justify-center items-center text-xl"><i class='bx bx-code-alt' ></i></button>
                <a routerLink="" class="border bg-gray-50 p-2 flex items-center rounded-full shadow-sm px-2 ml-3">
                    <i class='bx bxs-pen'></i>
                    <span class="text-sm ml-1">Customize</span>
                </a>
            </div>
        </div>
        <div class="flex justify-center">
            <div class="border mt-3 block w-full lg:w-full rounded-3xl shadow-sm lg:h-[100vh]">
                <div class="h-12 px-4 p-2 flex justify-between items-center">
                    <div class="flex items-center">
                        <div class="flex items-center h-[5vh]">
                            <span class="bg-gray-400 rounded-full h-2 w-2 block"></span>
                            <span class="bg-gray-400 ml-1 rounded-full h-2 w-2 block"></span>
                            <span class="bg-gray-400 ml-1 rounded-full h-2 w-2 block"></span>
                        </div>
                        <p class="text-sm ml-2 text-blue-900 border border-opacity-10 p-1 px-2 rounded-full">Preview</p>
                    </div>
                    <div class="flex items-center">
                        <button (click)="desktopView()" class="text-xl text-blue-600"><i class='bx bx-desktop'></i></button>
                        <button (click)="tabletView()" class="text-xl ml-4"><i class='bx bx-tab'></i></button>
                        <button (click)="mobileView()" class="text-xl ml-4"><i class='bx bx-mobile'></i></button>
                    </div>
                    <div class="flex items-center">
                        <button class="text-xl"><i class='bx bx-expand '></i></button>
                        <button (click)="isDarkmode()" id="darkmode" class="text-xl ml-2 dark:text-yellow-400 duration-300"><i class='bx bxs-moon' id="darkmodeicon"></i></button>
                    </div>
                </div>
                <div class="border-t overflow-y-scroll">
                    <app-herosec1 />
                </div>
            </div>
        </div>
    </section>
</main>
