<main class=" flex h-[90vh]">
    <div class="w-[70%]">
        <div class="w-full">
            <div class="p-4 lg:p-8 lg:w-full">
                <div class="flex text-gray-500 text-sm">
                    <a href="">Docs</a>
                    <span class="ml-2"> > </span>
                    <a href="" class="ml-2">installation</a>
                </div>
                <h1 class="text-2xl mt-3 font-semibold">installation</h1>
                <div>
                    <p>coming soon</p>
                </div>
            </div>
        </div>
        <section class="flex flex-col items-center bg-white dark:bg-gray-950 duration-300 dark:text-white">
            <div class="p-4 lg:p-8 lg:w-full flex flex-col items-start lg:items-end">
                <div class="flex flex-col items-start">
                    <p class="text-gray-600 dark:text-white">Next</p>
                    <a routerLink="/docs/getstarted" class="group relative top-3 flex items-center">
                        <span class="text-transparent bg-gradient-to-r from-pink-600 to-blue-600 bg-clip-text">Getting Started</span>
                        <span class="relative top-0.5 group-hover:translate-x-2 duration-300 text-transparent bg-gradient-to-r from-pink-600 to-blue-600 bg-clip-text"><i class='bx bx-right-arrow-alt'></i></span>
                    </a>
                </div>
            </div>
            <section class="h-[10vh]"></section>
        </section>
    </div>
    <div class="ml-4 w-[30%] lg:sticky lg:top-0 p-4 dark:text-white">
        <p class="font-semibold">On this page</p>
        <div class="mt-5 flex flex-col text-sm">
            <a routerLink="" class="">introduction</a>
            <a routerLink="" class="mt-3">our vision</a>
            <a routerLink="" class="mt-3">Great Features</a>
        </div>
    </div>
</main>
