<section>
    <nav class="p-4 flex border-b bg-white/80 backdrop-blur-md border-black/5 justify-between items-center">
       <div class="flex items-center">
            <div class="flex items-center">
                <span></span>
                <span></span>
            </div>
            <a class="ml-2 font-bold text-lg">Arch & Co</a>
       </div> 
       <ul class="flex items-center">
        @for (item of navLinks; track item.id) {
            <li class="ml-3 text-gray-600"><a routerLink="{{item.route}}" routerLinkActive="text-black"> {{item.title}} </a></li>
        }
       </ul>
       <div>
        <button class="bg-black text-white p-2 rounded-lg">Get in touch</button>
       </div>
    </nav>
    <section class=" p-4 lg:p-6 grid mt-5 gap-4 lg:grid-cols-2">
        <div>
            <div>
                <div class="flex flex-col lg:text-5xl font-semibold">
                    <span>Designing</span>
                    <span class="mt-2">Tomorrow, Today</span>
                </div>
                <p class="text-gray-500 mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta est labore .</p>
            </div>
            <div class="flex items-center mt-5">
                <button class="p-2 px-4 font-light border bg-black duration-300 hover:bg-white hover:text-black text-white rounded-lg">Connect</button>
                <button class="p-2 ml-2 font-light px-4 border rounded-lg hover:bg-gray-100 duration-300">Explore</button>
            </div>
        </div>
        <div>
            <div class="flex mt-5">
                <div class="h-72 w-52 mt-16 bg-gray-200">
    
                </div>
                <div class="h-72 w-52 bg-gray-200 ml-6">
    
                </div>
            </div>
        </div>
    </section>
</section>
